<%# common slide template

locals: theme
%>

<% if @slide.template == "web_page" %>

<%= yield %>

<% else %>

<div class="title_container <%= theme -%>">
  <% if (@slide.template == "only_image" and @slide.title.empty? rescue true) -%>
    <%# no title bar with fullscreen images with no title -%>
  <% else -%>
    <h1 class="title"><%= @slide.title %></h1>
  <% end -%>
</div>

<div class="content">
<%= yield %>
</div>

<% end %>
