body {
  background: white;
}
html, body, .footer{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.slide {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: #000;
}

.slide .title {
    display: block;
    position: relative;
    margin: 0;
    padding: 0.1em 0em 0em 0.5em;
}

.title_container {
    position: relative;
    z-index: 100;
}

.title_container img {
    position: fixed;
    top: 0;
    right: 0;
    height: auto;
}

.slide .content {
    z-index: 0;
}

.slide > * {
}

.content .lefthalf {
    position: fixed;
    top: 3.2em;
    left: 0.4em;
    margin: 0;
    padding: 0;
    width: 48%;
    height: 75%;
}

.content .righthalf {
    position: fixed;
    top: 3.2em;
    left: 50.5%;
    margin: 0;
    width: 48%;
    height: 75%;
}


.content img {
    position:absolute;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    margin:auto;
}


.content .full {
    position: fixed;
    top: 3.4em;
    left: 0.4em;
    width: 98%;
    height: 75%;
}

a {
    text-decoration: none;
    color: #00a;
}


/* header and footer gradients */
.footer_container {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 5;
    font-size: 0.9em;
    font-weight: normal;
}
.footer_container #thetime {
    float: left;
    margin: 0.5em;
    font-size: 0.9em;
    font-weight: normal;
    font-size: 0.75em;
}
.footer_container #network-offline {
    float: right;
    margin: 0.2em 0.5em;
    background-image: url('/assets/offline.png');
    background-size: 1em;
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 2em;
    font-size: 1em;
}

.footer_container.gold {
    background-color: #f1b500;
    background-image: -webkit-gradient(
      linear, left bottom, left top,
      from(#f1b500),
      color-stop(0.2, #e9ad02),
      color-stop(0.4, #e3a001),
      color-stop(0.6, #d99300),
      color-stop(0.8, #d38a00),
      to(#ca8500)
      );
    background-image: -moz-linear-gradient(bottom, 
      #f1b500, #e9ad02, #e3a001, #d99300, #d38a00, #ca8500);
    background-image: -o-linear-gradient(bottom, 
      #f1b500, #e9ad02, #e3a001, #d99300, #d38a00, #ca8500);
}
.title_container.gold {
    background-color: #f1b500;
    background-image: -webkit-gradient(
      linear, left top, left bottom,
      from(#f1b500),
      color-stop(0.2, #e9ad02),
      color-stop(0.4, #e3a001),
      color-stop(0.6, #d99300),
      color-stop(0.8, #d38a00),
      to(#ca8500)
      );
    background-image: -moz-linear-gradient(top, 
      #f1b500, #e9ad02, #e3a001, #d99300, #d38a00, #ca8500);
    background-image: -o-linear-gradient(top, 
      #f1b500, #e9ad02, #e3a001, #d99300, #d38a00, #ca8500);
}

.footer_container.cyan {
    background-color: #008a82;
    background-image: -webkit-gradient(
      linear, left bottom, left top,
      from(#00bfb4),
      color-stop(0.2, #00b1a7),
      color-stop(0.4, #00a69c),
      color-stop(0.6, #009f96),
      color-stop(0.8, #00938a),
      to(#008a82)
      );
    background-image: -moz-linear-gradient(bottom, 
      #00bfb4, #00b1a7, #00a69c, #009f96, #00938a, #008a82);
    background-image: -o-linear-gradient(bottom, 
      #00bfb4, #00b1a7, #00a69c, #009f96, #00938a, #008a82);
}
.title_container.cyan {
    background-color: #00bfb4;
    background-image: -webkit-gradient(
      linear, left top, left bottom,
      from(#00bfb4),
      color-stop(0.2, #00b1a7),
      color-stop(0.4, #00a69c),
      color-stop(0.6, #009f96),
      color-stop(0.8, #00938a),
      to(#008a82)
      );
    background-image: -moz-linear-gradient(top, 
      #00bfb4, #00b1a7, #00a69c, #009f96, #00938a, #008a82);
    background-image: -o-linear-gradient(top, 
      #00bfb4, #00b1a7, #00a69c, #009f96, #00938a, #008a82);
}

.footer_container.green {
    background-color: #d4f835;
    background-image: -webkit-gradient(
      linear, left top, left bottom,
      from(#d4f835),
      color-stop(0.2, #c9f600),
      color-stop(0.4, #c3ed00),
      color-stop(0.6, #b8e000),
      color-stop(0.8, #afd400),
      to(#ebece5)
      );
    background-image: -moz-linear-gradient(bottom, 
      #d4f835, #c9f600, #c3ed00, #b8e000, #afd400, #ebece5);
    background-image: -o-linear-gradient(bottom, 
      #d4f835, #c9f600, #c3ed00, #b8e000, #afd400, #ebece5);
}
.title_container.green {
    background-color: #d4f835;
    background-image: -webkit-gradient(
      linear, left bottom, left top,
      from(#d4f835),
      color-stop(0.2, #c9f600),
      color-stop(0.4, #c3ed00),
      color-stop(0.6, #b8e000),
      color-stop(0.8, #afd400),
      to(#ebece5)
      );
    background-image: -moz-linear-gradient(top, 
      #d4f835, #c9f600, #c3ed00, #b8e000, #afd400, #ebece5);
    background-image: -o-linear-gradient(top, 
      #d4f835, #c9f600, #c3ed00, #b8e000, #afd400, #ebece5);
}

